form.product-form {
  max-width: 100%;
  width: 500px;
  margin: auto;
}

form .form-control label,
form .form-control input {
  margin: 5px;
  display: block;
  width: 100%;
}

form .form-control input {
  border: 1px solid cadetblue;
  border-radius: 5px;
  padding: 5px;
}

form button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: lightgray;
  color: black;
}

form button:hover,
form button:active,
form button.active {
  background-color: gray;
  color: whitesmoke;
  cursor: pointer;
  font-weight: bolder;
  text-shadow: 1px 1px black;
}
