<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__list">
      <li class="main-header__item">
        <a
          href="/"
          class="<%= path === 'general.index' ? 'active' : ''; %>"
          >Home</a
        >
      </li>
      <li class="main-header__item">
        <a
          href="/admin/products/create"
          class="<%= path === 'admin.products.create' ? 'active' : ''; %>"
          >Add Product</a
        >
      </li>
    </ul>
  </nav>
</header>
